


body {
    font-family: Gill sans MT;
}

.label {
    font-size: 14px;
    text-anchor: middle;
    fill: rgb(44, 7, 7);
}

.label-sunburst {
    font-size: 14px;
    text-anchor: middle;
    fill: white;
}

.sunburst-chart {
    width: 650px;
    height: 600px;
}


.icicle-chart {
    width: 100%;
    height: 600px; /* Adjust as needed */
    overflow: hidden;
}

.icicle-chart svg {
    max-width: 100%;
    height: auto;
}

.icicle-chart rect {
    stroke: #fff;
    stroke-width: 2px;
}

.icicle-chart text {
    font-size: 14px;
    font-family: sans-serif;
    fill: #fff;
}