  /* =======================================================
*
* 	TOP Menu
*
* ======================================================= */


body {
    font-family: "Montserrat", Arial, sans-serif;
  }
  
  .navbar a.active {
    background-color: #a3a3a3;
    color: white;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #2c98f0;
  }
  

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar b {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 18px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(216, 207, 207);
  }

  .navbar b:hover, .dropdown:hover .dropbtn {
    background-color: rgb(216, 207, 207);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content b {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown-content b:hover {
    background-color: #ddd;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



  /* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgb(0, 0, 0); }
    @media screen and (max-width: 992px) {
      body {
        font-size: 14px; } 
        h2{
            text-align: center;
        }}
  
  a {
    color: #2c98f0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    a:hover, a:active, a:focus {
      color: #2c98f0;
      outline: none;
      text-decoration: none !important; }
  
  p {
    margin-bottom: 1.5em;
      color: black;
      font-family: 'Montserrat', sans-serif;
  }
  x{
      margin-bottom: 1.5em;
      background-color:darkkhaki;
      color: black;
      backface-visibility: visible;
  }
  
  h1, h4, h5, h6 {
    color: #000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 400;
    margin: 0 0 30px 0; }
  
  h2{
      color: #000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 200;
    margin: 0 0 20px 0;
  }
  h3{
      color: #000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 200;
    margin: 0 0 30px 0;
  }
  
  h4{
    color: rgb(0, 0, 0);
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 800;
  margin: 0 0 10px 0;
  font-size: 14px; 
  }
  
  h5{
    color: rgb(0, 0, 0);
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0 0 10px 0;
  font-size: 16px; 
  }

  b {
    color: #2c98f0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    a:hover, a:active, a:focus {
      color: #2c98f0;
      outline: none;
      text-decoration: none !important; }
  
  p {
    margin-bottom: 1.5em;
      color: black;
      font-family: 'Montserrat', sans-serif;
  }
  x{
      margin-bottom: 1.5em;
      background-color:darkkhaki;
      color: black;
      backface-visibility: visible;
  }
  
  h1, h4, h5, h6 {
    color: #000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 400;
    margin: 0 0 30px 0; }
  
  h2{
      color: #000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 200;
    margin: 0 0 20px 0;
  }
  h3{
      color: #000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 200;
    margin: 0 0 30px 0;
  }
  
  h4{
    color: rgb(0, 0, 0);
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 800;
  margin: 0 0 10px 0;
  font-size: 14px; 
  }
  
  h5{
    color: rgb(0, 0, 0);
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0 0 10px 0;
  font-size: 16px; 
  }
  