################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/consulting.html
/.vs/00.githost/FileContentIndex/27569f78-7d5d-48ef-89d8-977c63056253.vsidx
/.vs/00.githost/FileContentIndex/b73892f6-8e25-4e10-9483-474be62c58fe.vsidx
*.gif
portfolio_proxmox_deployment.tar.gz
portfolio_deployment.tar.gz
